
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon sh-iconfont sh-icon-peijianguanli"></i>
                    <div class="name">配件管理</div>
                    <div class="fontclass">.sh-icon-peijianguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-wuliaoguanli"></i>
                    <div class="name">物料管理</div>
                    <div class="fontclass">.sh-icon-wuliaoguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zuzhijiagou"></i>
                    <div class="name">组织架构</div>
                    <div class="fontclass">.sh-icon-zuzhijiagou</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zhibanguanli"></i>
                    <div class="name">值班管理</div>
                    <div class="fontclass">.sh-icon-zhibanguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shebeiguanli"></i>
                    <div class="name">设备管理</div>
                    <div class="fontclass">.sh-icon-shebeiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-xitongguanli"></i>
                    <div class="name">系统管理</div>
                    <div class="fontclass">.sh-icon-xitongguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongyiguanli"></i>
                    <div class="name">工艺管理</div>
                    <div class="fontclass">.sh-icon-gongyiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-kaoqinguizeshezhi"></i>
                    <div class="name">考勤规则设置</div>
                    <div class="fontclass">.sh-icon-kaoqinguizeshezhi</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-measure"></i>
                    <div class="name">计量单位</div>
                    <div class="fontclass">.sh-icon-measure</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zidian"></i>
                    <div class="name">字典管理</div>
                    <div class="fontclass">.sh-icon-zidian</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gangweiguanli"></i>
                    <div class="name">岗位管理</div>
                    <div class="fontclass">.sh-icon-gangweiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jiaoseguanli"></i>
                    <div class="name">角色管理</div>
                    <div class="fontclass">.sh-icon-jiaoseguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-paibanguanli"></i>
                    <div class="name">排班管理</div>
                    <div class="fontclass">.sh-icon-paibanguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jichuziliao"></i>
                    <div class="name">基础资料</div>
                    <div class="fontclass">.sh-icon-jichuziliao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongsi"></i>
                    <div class="name">公司管理</div>
                    <div class="fontclass">.sh-icon-gongsi</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-bianmaguize"></i>
                    <div class="name">编码规则</div>
                    <div class="fontclass">.sh-icon-bianmaguize</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongxuguanli"></i>
                    <div class="name">工序管理</div>
                    <div class="fontclass">.sh-icon-gongxuguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-tongjifenxi"></i>
                    <div class="name">统计分析</div>
                    <div class="fontclass">.sh-icon-tongjifenxi</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongyiluxian"></i>
                    <div class="name">工艺路线</div>
                    <div class="fontclass">.sh-icon-gongyiluxian</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-wuliaofenlei"></i>
                    <div class="name">物料分类</div>
                    <div class="fontclass">.sh-icon-wuliaofenlei</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-renshiguanli"></i>
                    <div class="name">人事管理</div>
                    <div class="fontclass">.sh-icon-renshiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-icon-test-copy"></i>
                    <div class="name">员工管理</div>
                    <div class="fontclass">.sh-icon-icon-test-copy</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-mokuaiguanli"></i>
                    <div class="name">模块管理</div>
                    <div class="fontclass">.sh-icon-mokuaiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shebeijixing"></i>
                    <div class="name">设备机型</div>
                    <div class="fontclass">.sh-icon-shebeijixing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shengchanguanli"></i>
                    <div class="name">生产管理</div>
                    <div class="fontclass">.sh-icon-shengchanguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-technological-parameter"></i>
                    <div class="name">工艺参数</div>
                    <div class="fontclass">.sh-icon-technological-parameter</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-icon-test"></i>
                    <div class="name">考勤管理</div>
                    <div class="fontclass">.sh-icon-icon-test</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shebeidanganguanli"></i>
                    <div class="name">设备档案管理</div>
                    <div class="fontclass">.sh-icon-shebeidanganguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-guzhangleixing"></i>
                    <div class="name">故障类型</div>
                    <div class="fontclass">.sh-icon-guzhangleixing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shengchanbaogong"></i>
                    <div class="name">生产报工</div>
                    <div class="fontclass">.sh-icon-shengchanbaogong</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shengchandingdan"></i>
                    <div class="name">生产订单</div>
                    <div class="fontclass">.sh-icon-shengchandingdan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shengchantongzhidan"></i>
                    <div class="name">生产通知单</div>
                    <div class="fontclass">.sh-icon-shengchantongzhidan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jitaifenpei"></i>
                    <div class="name">机台分配</div>
                    <div class="fontclass">.sh-icon-jitaifenpei</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-banzhiguanli"></i>
                    <div class="name">班制管理</div>
                    <div class="fontclass">.sh-icon-banzhiguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-wuliaoshuxing"></i>
                    <div class="name">物料属性</div>
                    <div class="fontclass">.sh-icon-wuliaoshuxing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-baoyangleixing"></i>
                    <div class="name">保养类型</div>
                    <div class="fontclass">.sh-icon-baoyangleixing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-quanxianxiangguanli"></i>
                    <div class="name">权限项管理</div>
                    <div class="fontclass">.sh-icon-quanxianxiangguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-sehaoguanli"></i>
                    <div class="name">色号管理</div>
                    <div class="fontclass">.sh-icon-sehaoguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pinzhonggongyidan"></i>
                    <div class="name">品种工艺单</div>
                    <div class="fontclass">.sh-icon-pinzhonggongyidan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongyipinzhongdingliang"></i>
                    <div class="name">工艺品种定量</div>
                    <div class="fontclass">.sh-icon-gongyipinzhongdingliang</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pinzhongliaoji"></i>
                    <div class="name">品种了机</div>
                    <div class="fontclass">.sh-icon-pinzhongliaoji</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pinzhongkaitai"></i>
                    <div class="name">品种开台</div>
                    <div class="fontclass">.sh-icon-pinzhongkaitai</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shucaijiance"></i>
                    <div class="name">数采监测</div>
                    <div class="fontclass">.sh-icon-shucaijiance</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jijianhesuan"></i>
                    <div class="name">计件核算</div>
                    <div class="fontclass">.sh-icon-jijianhesuan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-guzhanghujiao"></i>
                    <div class="name">故障呼叫</div>
                    <div class="fontclass">.sh-icon-guzhanghujiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-weixiugongdan"></i>
                    <div class="name">维修工单</div>
                    <div class="fontclass">.sh-icon-weixiugongdan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-renyuanbaobiao"></i>
                    <div class="name">人员报表</div>
                    <div class="fontclass">.sh-icon-renyuanbaobiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-banzubaobiao"></i>
                    <div class="name">班组报表</div>
                    <div class="fontclass">.sh-icon-banzubaobiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pinzhongbaobiao"></i>
                    <div class="name">品种报表</div>
                    <div class="fontclass">.sh-icon-pinzhongbaobiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jitaibaobiao"></i>
                    <div class="name">机台报表</div>
                    <div class="fontclass">.sh-icon-jitaibaobiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-chengbenfenxi"></i>
                    <div class="name">成本分析</div>
                    <div class="fontclass">.sh-icon-chengbenfenxi</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-guzhangyujing"></i>
                    <div class="name">故障预警</div>
                    <div class="fontclass">.sh-icon-guzhangyujing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-dandingjiance"></i>
                    <div class="name">单锭检测</div>
                    <div class="fontclass">.sh-icon-dandingjiance</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-chanchengpindinge"></i>
                    <div class="name">产成品定额</div>
                    <div class="fontclass">.sh-icon-chanchengpindinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-huanjingjiance"></i>
                    <div class="name">环境监测</div>
                    <div class="fontclass">.sh-icon-huanjingjiance</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-nenghaojiance"></i>
                    <div class="name">能耗监测</div>
                    <div class="fontclass">.sh-icon-nenghaojiance</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-nenghaodinge"></i>
                    <div class="name">能耗定额</div>
                    <div class="fontclass">.sh-icon-nenghaodinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-jihuapaicheng"></i>
                    <div class="name">计划排程</div>
                    <div class="fontclass">.sh-icon-jihuapaicheng</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-cushakuguanli"></i>
                    <div class="name">粗纱库管理</div>
                    <div class="fontclass">.sh-icon-cushakuguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-peimiandangan"></i>
                    <div class="name">配棉档案</div>
                    <div class="fontclass">.sh-icon-peimiandangan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pihaoguanli"></i>
                    <div class="name">批号管理</div>
                    <div class="fontclass">.sh-icon-pihaoguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-gongyiyujing"></i>
                    <div class="name">工艺预警</div>
                    <div class="fontclass">.sh-icon-gongyiyujing</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shujubeifen"></i>
                    <div class="name">数据备份</div>
                    <div class="fontclass">.sh-icon-shujubeifen</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-wuliaozhuisu"></i>
                    <div class="name">物料追溯</div>
                    <div class="fontclass">.sh-icon-wuliaozhuisu</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-pinzhongjijiandinge"></i>
                    <div class="name">品种计件定额</div>
                    <div class="fontclass">.sh-icon-pinzhongjijiandinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-peimianguanli"></i>
                    <div class="name">配棉管理</div>
                    <div class="fontclass">.sh-icon-peimianguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-yujingguanli"></i>
                    <div class="name">预警管理</div>
                    <div class="fontclass">.sh-icon-yujingguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-yuanliaodinge"></i>
                    <div class="name">原料定额</div>
                    <div class="fontclass">.sh-icon-yuanliaodinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zhiliangguanli"></i>
                    <div class="name">质量管理</div>
                    <div class="fontclass">.sh-icon-zhiliangguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zhongliangjianyan"></i>
                    <div class="name">重量检验</div>
                    <div class="fontclass">.sh-icon-zhongliangjianyan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-tairigongfeilirunbiao"></i>
                    <div class="name">台日工费利润表</div>
                    <div class="fontclass">.sh-icon-tairigongfeilirunbiao</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-paichengshitu"></i>
                    <div class="name">排程视图</div>
                    <div class="fontclass">.sh-icon-paichengshitu</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-paichengfabu"></i>
                    <div class="name">排程发布</div>
                    <div class="fontclass">.sh-icon-paichengfabu</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-paichengyunsuan"></i>
                    <div class="name">排程运算</div>
                    <div class="fontclass">.sh-icon-paichengyunsuan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-dandingxiaohaodinge"></i>
                    <div class="name">单锭消耗定额</div>
                    <div class="fontclass">.sh-icon-dandingxiaohaodinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zaichanpindinge"></i>
                    <div class="name">在产品定额</div>
                    <div class="fontclass">.sh-icon-zaichanpindinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-niandujianyan"></i>
                    <div class="name">捻度检验</div>
                    <div class="fontclass">.sh-icon-niandujianyan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-ziluojianyan"></i>
                    <div class="name">自络检验</div>
                    <div class="fontclass">.sh-icon-ziluojianyan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-zhichengshuaidinge"></i>
                    <div class="name">制成率定额</div>
                    <div class="fontclass">.sh-icon-zhichengshuaidinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-qiangdujianyan"></i>
                    <div class="name">强度检验</div>
                    <div class="fontclass">.sh-icon-qiangdujianyan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-peimianpaibaotu"></i>
                    <div class="name">配棉排包图</div>
                    <div class="fontclass">.sh-icon-peimianpaibaotu</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-huihuadinge"></i>
                    <div class="name">回花定额</div>
                    <div class="fontclass">.sh-icon-huihuadinge</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-huihuaguanli"></i>
                    <div class="name">回花管理</div>
                    <div class="fontclass">.sh-icon-huihuaguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-tiaoganjianyan"></i>
                    <div class="name">条干检验</div>
                    <div class="fontclass">.sh-icon-tiaoganjianyan</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-beijianguanli"></i>
                    <div class="name">备件管理</div>
                    <div class="fontclass">.sh-icon-beijianguanli</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shujujiance"></i>
                    <div class="name">数据监测</div>
                    <div class="fontclass">.sh-icon-shujujiance</div>
                </li>
            
                <li>
                <i class="icon sh-iconfont sh-icon-shebeibaoyang"></i>
                    <div class="name">设备保养</div>
                    <div class="fontclass">.sh-icon-shebeibaoyang</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">sh-iconfont</span> <span class="hljs-selector-tag">sh-icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"sh-iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
